<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

    
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="lattitude">Lattitude</label>
            <input type="float" name="lattitude">
        </p>
        <p>
            <label for="longitude">Longitude</label>
            <input type="float" name="longitude">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

</body>
</html>
